<h1> {{name}} </h1>
<div class='container'>

  <div class='description'>
    <p><b>Capital: </b> {{capital}} </p>
    <p><b>Population:</b> {{population}} </p>
    <p><b>Languages:</b></p>
    <ul>
      {{#each languages}}
        <li>{{name}}</li>
      {{/each}}
    </ul>
  </div>

  <div class='gallery__thumb'>
    <img src='{{flag}}' alt='Флаг {{name}}' width='250' />
  </div>
</div>